opencv-python==4.8.0.76
opencv-contrib-python==4.8.1.78

pandas
numpy
matplotlib

scikit-learn
scikit-image
scipy

ultralytics==8.0.20
shapely==2.0.1
pandas==2.0.3

PyYAML==6.0.1

icecream==2.1.3
tqdm==4.66.1